/* resets */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

.wrapper {
  background-color: #1f2937;
  padding-top: 40px;  /* Adjust as needed */
  padding-bottom: 100px;  /* Adjust as needed */
}
/* navigation section */
.logo {
  color: #f9faf8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 28px;
  margin-left: 400px;
  margin-top: 40px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  color: #f9faf8;
  margin-top: 40px;
  margin-right: 80px;
}

.nav-list {
  display: flex;
  margin-right: 200px;
  margin-top: 40px;
  padding: 50px;
  list-style: none;
  gap: 20px;
  color: #f9faf8;
}

.nav-list a {
  color: #f9faf8;
  font: "Roboto", serif;
  font-size: 18px;
  text-decoration: none;
}
/* end navigation section */

/* header section */
.header {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;  
  padding: 0 200px; 
  min-height: 300px; 
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-one {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 200px;
  color: #f9faf8;
  font-size: 48px;
}

.hero-two {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 200px;
  margin-top: 20px;
  color: #f9faf8;
}

.image-container {
  flex-shrink: 0; 
  width: 54%; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button {
  background-color: #3882F6;
  color: #f9faf8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 200px;
}

.button:hover {
  background-color: #2563EB;
}

/* end header section */
.content {
  background-color: white;
}
/* main section */

